@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');


/*
priary color: #57CEA0
secondary color: #003542
tertiary colot: #FF9A85


fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.default-input {
    background: #003542;
    padding: 5px;
    outline: none;
    color: white;
    display: block;
    border: none;
    margin: auto;
}


a{
    text-decoration: none;
    outline: none;
    color: black;
}

.sec-color{
    color: #FF9A85;
}

.dark-color {
    color: #003542;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
}

.sm-txt {
    font-size: 0.8rem;
    font-weight: 100;
}

.lt-grey{
    color: lightgrey;
}

.mg-t-30{
    margin-top: 30px;
}

.mg-t-150{
    margin-top: 150px;
}

.mg-b-50{
    margin-bottom: 50px;
}

.mg-r-80{
    margin-right: 130px;
}

.mg-auto{
    margin: auto;
}

.center{
    text-align: center;
}

.green-hlt{
    color: #57CEA0;
    font-size: 1.1em;
    font-weight: bold;
}

@media screen and (max-width: 770px){
    .lg-screen {
        display: none;
    }
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}


button{
    outline: none;
    border: none;
}

nav{
    position: fixed;
    top: 0;
    background: transparent;
    width: 100%;
    max-width: 100%;
    height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 150px;
}

#menu-btn {
    width: 25px;
    margin: 10px 20px 0px 0px;
    cursor: pointer;
    outline: none;
}

#blur-layer{
    background: rgba(0, 0, 0, 0.575);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0px;
    display: none;
    transition: 0.2s ease-in;
}

#side-nav{
    background: #003542;
    width: 0px;
    overflow-x: hidden;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 3;
    transition: 0.2s ease-in;
}

#close-btn {
    width: 20px;
    position: fixed;
    top: 0;
    right: 10px;
    margin: 10px 20px 0px 0px;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 4;
}

#menu-items {
    margin-top: 50px;
    padding: 0;  
    
}
#menu-items li {
    color: lightgrey;
    list-style-type: none; 
    padding: 5px 0;
    padding-left: 10px;
    margin: 12px 0;
    font-weight: 100;
    font-size: 0.9em;
}

#menu-items li:hover{
    color: white;
}


.white{
    color: white;
}

.block {
    display: block;
}

.flex-primary{
    display: flex;
    justify-content: space-around;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}


.md{
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0;
    word-spacing: 1px;
}

.sm {
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0;
    word-spacing: 1px; 
}

.main-btn{
    padding: 10px 35px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.sec-btn{
    padding: 7px 20px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.plain-link{
    color: black;
    letter-spacing: 1px;
    text-decoration-color: #003542;
}

.btn-primary{
    background: #57CEA0;
    color: white;
}

.btn-white {
    background: transparent;
    color: white;
}
.btn-white:hover {
    background: white;
    color: #003542;
}

.btn-white-reverse{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.btn-white-reverse:hover{
    background: white;
    color: #003542;
}

.btn-primary:hover{
    color: #57CEA0;
    border: 2px solid #57CEA0;
    background: transparent;
}

.btn-primary-reverse{
    color: #57CEA0;
    border: 2px solid #57CEA0;
    background: transparent;
    transition: 0.2s ease-in;
}

.btn-primary-reverse:hover{
    background: #57CEA0;
    color: white;
}

.btn-secondary{
    background:#003542;
    color: white;
}
.btn-secondary:hover{
    background: transparent;
    border:2px solid #003542;
    color: #003542;
}

.btn-tertiary{
    background: #FF9A85;
    color: white;
    transition: 0.2s ease-in;
}

.btn-tertiary:hover{
    background: transparent;
    color: #FF9A85;
    border: 2px solid #FF9A85;
}

.btn-red{
    background: firebrick;
    color: white;
    transition: 0.2s ease-in;
}

.btn-red:hover{
    background: transparent;
    color: #FF9A85;
    border: 2px solid #FF9A85;
}

.primary-form{
    max-width: 200px;
    margin: auto;
    padding: 0;
}


.primary-form input, .primary-form select, .primary-form textarea {
    background: transparent;
    width: 90%;
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #57CEA0;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    color: lightgrey;
}

.primary-form select{
    color: grey;
    width: 100%;
    padding: 8px;
    display: block;
}

.primary-form select:focus{
    background: black;
    border: 2px solid #57CEA0;
}

.primary-form select option:first-child{
    display: none;
}

.primary-form input:focus, .primary-form textarea:focus {
    background: black;
    color: white;
    padding: 10px;
    border: 2px solid #57CEA0;
}
.primary-form option {
    background: #003542;
    color: white;
    border: 1px solid #57CEA0;
}