#jumbotron{
    background:url('../images/jmb.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    padding: 50px;
}

@media screen and (min-height: 500px){
  #jumbotron{ 
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
  }

  #wrapper{
      display: none;
  }
}


#jmb-content {
    height: 100%;
    padding: 0 50px;
}

#jmb-content div{
    margin: auto;
}

#info-jmb{
    max-width: 400px;
}



#form-div{
    text-align: center;
    padding: 50px;
    background:  #003542;
    
}

.primary-form{
    max-width: 200px;
    margin: auto;
    padding: 0;
}


.primary-form input, .primary-form select {
    background: transparent;
    width: 90%;
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #57CEA0;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    color: lightgrey;
}

.primary-form select{
    color: grey;
    width: 100%;
    padding: 8px;
    display: block;
}

.primary-form select:focus{
    background: black;
    border: 2px solid #57CEA0;
}

.primary-form select option:first-child{
    display: none;
}

.primary-form input:focus {
    background: black;
    color: white;
    padding: 10px;
    border: 2px solid #57CEA0;
}
.primary-form option {
    background: #003542;
    color: white;
    border: 1px solid #57CEA0;
}

input.full {
    width: 100%;
}

input::placeholder{
    color: grey;
    font-weight: 100;
    font-size: 0.9em;
}

.primary-form-btn{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
    width: 100%;    
    padding: 10px;
}

@media screen and (max-width: 780px){
    #info-jmb{
        display: none;
    }
    #form-div{
        text-align: center;
        padding: 10px;
        background:  #003542e1;
    }
}

.login-note, .signup-note{
    display: none;
}

#close-form-btn {
    color: white;
    font-size: 2em;
    float: right;
    clear: both;
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
    display: none;
}

#scroll-btn {
    width: 30px;
    margin: auto;
    position: relative;
    bottom: 120px;
    left: 45%;
    cursor: pointer;
    animation: bounce 1s infinite;
    animation-fill-mode: both;
}


@media screen and (max-width: 420px){
    #scroll-btn{
        left: 35%;
    }
}
@media screen and (max-height: 500px){
    #scroll-btn{
        display: none;
    }
    nav{
        background: #003542;
    }
}


@keyframes bounce {
    0% {
        transform: translate(50px, 40px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate(50px, 50px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(50px, 40px);
    }
}

.lg-box{
    width: 1200px;
    max-width: 94vw;
    margin: auto;
    padding: 50px;
}

.md-box{
    width: 450px;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
}

.category-icon{
    height: 50px;
}

@media screen and (min-width: 780px){
    .category-icon{
        height: 80px;
    }
}


#auto-display{
    max-width: 100%;
    margin: auto;
    background: #F5F5F5;
    padding: 150px 50px 100px 50px;
}

.ad{
    text-align: center;
    width: 300px;
    max-width: 90vw;
    background: white;
    margin: auto;
    margin-bottom: 50px;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 6px;
    transition: 0.2s ease-out;
}

.ad:hover{
   box-shadow:  0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
}

.disp-img-container{
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 780px){
    .ad {
    height: 350px;
    }
    .disp-img-container{
        height: 200px;
    }
}

.disp-img-container img {
    width: 100%;
}


.details-btn{
    margin: auto;   
}

.state{
    color: #003542;
    font-weight: bold;
    text-transform: capitalize;
}

.price{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1px;
    color: #368063;
}

.disp-details {
    border-top: 1px solid #DCDCDC;
    margin-top: 40px;
    margin-bottom: -10px;
}


.disp-detail {
    display: inline-block;
    text-align: center;
    color:  #696969;
}

.disp-detail i {
    margin-right: 3px;
}

.owner-img{
    height: 13px;
    margin: auto;
    border-radius: 200px;    
    opacity: 1;
}
