body{
    background: whitesmoke;
}
nav {
    background: #003542;
}

#main {
    width: 400px;
    max-width: 75vw;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background: white;
    border-radius: 6px;
    box-shadow: 5px 5px 20px 8px #0035422a;
}

.x4{
    font-size: 6em;
}

input{
    background: transparent;
    width: 250px;
    margin-top: 15px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #003542;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    color: grey;
    outline: none;
    color: black;
}

input[type="file"]{
    display: none;
}

input:focus{
    border-bottom: 2px solid #003542;
}

select {
    color: grey;
    padding: 8px;
    display: block;
    width: 255px;
    margin: auto;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #003542;
    border-radius: 4px;
    outline: none;
}

select option:first-child{
    display: none;
}

option {
    background: transparent;
    color: black;
    outline: none;
}

option:focus-within{
    background: yellow;
}
#add-image-btn, #post-ad-btn {
    display: block; 
    margin: auto;
    margin-top: 15px;
}

#image-box{
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

#image-box img{
    max-width: 100%;
}