@media screen and (min-width: 780px){
    body{
        height: 100vh;
        overflow: hidden;
        font-size: 0.9em;
    }
}

#wrapper{
    width: 1200px;
    max-width: 90vw;
    margin: auto;
    padding-top: 50px;
}


#main {
    /* overriding css in updatePrice.css*/
    box-shadow: none;
    margin: auto;
}

#related-ads-wrapper {
    padding: 20px 0;
}

.related-ad-image {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.related-ad {
    font-size: 0.7em;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;  
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.144); 
    border-radius: 6px;
    transition: 0.2s ease-in;
}

.related-ad:hover{
    border: 2px solid transparent;
}

@media screen and (max-width: 780px){
    #main {
        height: auto;
    }
    #wrapper{
        margin-top: 0;
    }

    #related-ads-wrapper {
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 30px;
    }

    #related-ads {
        display: flex;
        box-shadow: none;
        width: 100%;
        height: 220px;
    }
    h4{
        margin-left: 10px;
    }
    .related-ad {
        font-size: 0.5em;
        text-align: center;
        width: 150px;
        margin: 10px;  
        box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.144); 
        border-radius: 6px;
        transition: 0.2s ease-in;
    }

    .related-ad-image {
        height: 100px;
        overflow: hidden;
    }
    
}

@media screen and (min-width: 780px){
    #related-ads {
        width: 300px;
        max-width: 90vw;
        height: 70vh;
        overflow-y: scroll;
        margin: auto;
    }
}


#po-input-form{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.144); 
    text-align: center;
    display: none;
}

#offer-input {
    background: #003542;
    border: none;
    padding: 8px;
    display: block;
    margin: auto;
    outline: none;
    color: white;
}


#purchase-order-div {
    background: whitesmoke;
    width: 300px;
    height: auto;
    max-width: 80vw;
    margin: auto;
    margin-top: 20px;
    color: black;
    font-size: 0.9em;
    overflow-x: hidden;
    padding-bottom: 20px;
    display: none;
}

@media screen and (max-width: 700px){
    #purchase-order-div {
        margin-bottom: 50px;
    }
}

#purchase-order-div i, .label {
    color:black;
    margin-right: 15px;
    font-size: 0.8em;
}

#offer {
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

#po-header {
    background: #003542;
    font-size: 0.9em;
    color: lightgrey;
    padding: 10px 5px;  
    margin-bottom: -20px;
    width: 100%;
}

#po-header h3 {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}


.tiny-header {
    background: #57CEA0;
    color: white;
    width: 100%;
    margin: auto;
    padding: 0 5px;
}

.po-details {
    padding: 5px;
}

#report-btn {
    font-size: 0.9em;
}

#report-form-div {
    width: 300px;
    max-width: 70vw;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.144); 
    margin: auto;
    margin-top: 100px;
    display: none;
}

.primary-form select {
    margin-bottom: 30px;   
}

textarea {
    text-align: left;
    color: white;
    height: 100px;
    color: black;
}