nav {
    background: #003542;
}


table{
    width: 800px;
    max-width: 95vw;
    border-collapse: collapse;
    font-weight: 100;
    border: none;
    display: block;
    margin: 100px auto 0 auto;
}

td, th {
    border: 1px solid whitesmoke;
    text-align: left;
    padding: 10px 20px;
}

th {
    background:#003542;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;    
    color: white;    
}


  tr:nth-child(even) {
    background-color: whitesmoke;
}

.btn-primary {
    padding: 5px 20px;
    border-radius: 2px;
}

.btn-primary:hover {
    border: none;
    background: rgb(70, 168, 131);
    color: white;
}

@media screen and (max-width: 770px){
    table {
        font-size: 0.9em;
    }

    th, td {
        padding: 10px;
    }
}
